@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

:root {
  --primary: #000000;
  --text-on-primary: #ffffff;
  --hover-on-primary: #222222;

  --secondary: #ffffff;
  --text-on-secondary: #666666;
  --hover-on-secondary: #f2f2f2;
  --hover-text-on-secondary: #000000;

  --border: #dddddd;
  --background: #ffffff;

  --primary-text: #000000;
  --secondary-text: #666666;
  --error-text: #7b1b1b;

  --font-xxs: 10px / 1 'Montserrat';
  --font-xs: 12px / 1 'Montserrat';
  --font-s: 14px / 1 'Montserrat';
  --font-m: 16px / 1 'Montserrat';
  --font-l: 18px / 1 'Montserrat';
  --font-xl: 20px / 1 'Montserrat';
}
