@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration-color: var(--on-surface);
}

:root {
  --font-xxs: 10px / 1 'Montserrat';
  --font-xs: 12px / 1 'Montserrat';
  --font-s: 14px / 1 'Montserrat';
  --font-m: 16px / 1 'Montserrat';
  --font-l: 18px / 1 'Montserrat';
  --font-xl: 20px / 1 'Montserrat';
  --font-xxl: 25px / 1 'Montserrat';
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}
